.right-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Ensure full height of the viewport */
}

h1 {
    text-align: center; /* Center the text horizontally */
}

/* Increase spacing between login buttons */
.btn-primary {
    margin-bottom: 10px;
}

/* Adjust max-width for the logo image */
.logo-container {
    text-align: center; /* Center the image horizontally */
}

.logo-container img {
    max-width: 50%; /* Set the max-width to 50% */
    height: auto;
}